<!DOCTYPE html>
<html lang="zxx">

<%- include('part/head') %> 

<body class="fondo">
    <!--Start Preloader-->
    <div class="site-preloader">
        <div class="spinner"><img src="img/loader.gif" alt=""></div>
    </div>
    <!--End Preloader-->
    <!-- Main Menu Area Start -->
    <header id="mainHeader" class="header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="container"><a class="navbar-brand" href="index.html"><img src="img/logcvpa.png" alt=""></a><button
                    class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" id="inicio" href="index.html">Inicio</a></li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="primaux" href="#" >Primeros Auxilios</a>
                            <div class="dropdown-menu" aria-labelledby="service">
                                <a class="dropdown-item" id="definicion" href="#leepa">Definición</a>
                                <a class="dropdown-item" id="heridas" href="heridas.html">Heridas</a>
                                <a class="dropdown-item" id="hemorragias" href="hemorragias.html">Hemorragias</a>
                                <a class="dropdown-item" id="quemaduras" href="quemaduras.html">Quemaduras</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  active" id="conversar" href="#">Asistente Virtual</a>
                            <div class="dropdown-menu" aria-labelledby="pages">
                                <a class="dropdown-item active" id="con" href="/chat">Conversar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Nosotros</a>
                            <div class="dropdown-menu" aria-labelledby="service">
                                <a class="dropdown-item" href="">Acerca de</a>
                                <a class="dropdown-item" href="/contact">Contactanos</a>
                            </div>
                        </li>
                    </ul>
                    <div class="call_btn"><a id="inisesion" href="/log">Iniciar Sesión</a></div>
                </div>
            </div>
        </nav>
    </header>
    <!------------------------- Main Menu Area End -------------------->

    <div class="container">
          <div class="sectionHeader">
            <br>
            <h2><a>REALIZA UNA CONSULTA</a></h2>
            <div class="mic">
              <button class="bg-warning btncir" onclick="start()" id="emp"><i class="fa fa-microphone" aria-hidden="true"></i></button>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button class="bg-warning btncir" onclick="detente()"><i class="fa fa-stop" aria-hidden="true"></i></button>
            </div>
          </div>
      <div class="row justify-content-center">
          <div class="col-3">
            <img src="../img/enfermera1.gif" class="img-fluid" alt="">
          </div>
            <div class="col-5" >
              <br>
                <form action="/addmen" id="con" method="post">
                  <div>     
                    <input type="text" class="form-control area" name="mensaje" id="salida" onkeypress="enter(event)">
                    <input type="hidden" id="sub">
                  </div>
                    <br>
                    <div class="d-flex justify-content-start">
                    <% if(('#salida') == ms.entrada){ %>
                      <textarea  id="entrada" class="tarea" readonly> <%= ms.salida %> </textarea>
                    <% } else{ %>  
                      <textarea  id="entrada" class="tarea" readonly></textarea>
                     <% } %>
                    </div>
                </form>
            </div>
          <div class="col-3">
            <img src="../img/enfermera1.gif" class="img-fluid invi" alt="">
          </div>
      </div>
    </div>

    <%- include('part/footer') %> 

    <!--Start ClickToTop-->
    <div class="totop"><a href="#top">
            <p><i class="fas fa-angle-up"></i></p>
        </a></div>
    <!--End ClickToTop-->
    <!--jQuery JS-->
    <script src="js/jquery.min.js"></script>
    <!--Bootstrap JS-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.js"></script><!-- Way Point js -->
    <script src="js/waypoints.min.js"></script><!-- Owl carosul js -->
    <script src="js/owl.carousel.min.js"></script><!-- Venobox JS-->
    <script src="js/venobox.min.js"></script><!-- date and time picker -->
    <script src="js/jquery.datetimepicker.full.min.js"></script>
    <script src="js/dateandtimeactive.js"></script>
    <!--Main-->
    <script src="js/main.js"></script>
    <!--artyom JS-->
    <script src="../js/artyom.js"></script>
	  <script src="../js/artyom.window.js"></script>
	  <script src="../js/artyom.window.min.js"></script>
    <script src="../js/asistent/asistentchat.js"></script>

</body>

</html>