<!DOCTYPE html>
<html lang="zxx">
	<%- include('part/head') %>

<body>
    <!--Start Preloader-->
    <div class="site-preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <!--End Preloader-->
    <!-- Main Menu Area Start -->
    <header id="mainHeader" class="header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="container"><a class="navbar-brand" href="index.html"><img src="img/logcvpa.png" alt=""></a><button
                    class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="index.html">Inicio</a></li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" >Primeros Auxilios</a>
                            <div class="dropdown-menu" aria-labelledby="service">
                                <a class="dropdown-item" href="#leepa">Definición</a>
                                <a class="dropdown-item" href="heridas.html">Heridas</a>
                                <a class="dropdown-item" href="hemorragias.html">Hemorragias</a>
                                <a class="dropdown-item" href="quemaduras.html">Quemaduras</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Asistente Virtual</a>
                            <div class="dropdown-menu" aria-labelledby="pages">
                                <a class="dropdown-item" href="/chat">Conversar</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Nosotros</a>
                            <div class="dropdown-menu" aria-labelledby="service">
                                <a class="dropdown-item" href="">Acerca de</a>
                                <a class="dropdown-item" href="">Doctor</a>
                                <a class="dropdown-item" href="">Contactanos</a>
                            </div>
                        </li>
                    </ul>
                    <div class="call_btn"><a href="/log">Iniciar sesión</a></div>
                </div>
            </div>
        </nav>
    </header><!-- Main Menu Area End -->
    <!-- BreadCrumb Area Start -->
    <section  class="ini extraPaddimg">
        <div class="bcoverlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="Content">
                        <h2>Registrarse</h2>
                        <div class="links">
                            <ul>
                                <li><a href="index.html">Inicio</a></li>
                                <li><span>/</span></li>
                                <li><a class="active" href="register.html">Registrarse</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!--  BreadCrumb Area Start  -->
    <!-- SignUP Area Start -->
    <section class="logRegForm">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 col-md-10">
                    <div class="contact_form_wrappre2">
                        <%if (signupMessage.length > 0) {%>
                            <div class="alert alert-danger" align="center"><%= signupMessage %></div>
                          <% } %>
                        <div class="row justify-content-center">
                            <div class="col-lg-9">
                                <div class="sectionHeader">
                                    <h2>Registro</h2>
                                </div>
                            </div>
                        </div>
                        <form action="/registrarse" method="post">
                            <div class="inputArea">
                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group"><input type="text" class="form-control"
                                                placeholder="Ingresa tu nombre de Usuario" aria-describedby="username" id="username" name="username" required>
                                            <div class="input-group-prepend"><span class="input-group-text"
                                                    id="username"><i class="fas fa-user"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group"><input type="email" id="email" name="email" class="form-control"
                                                placeholder="Ingresa tu Email" required>
                                            <div class="input-group-prepend"><span class="input-group-text" id="Site"><i
                                                        class="fas fa-envelope"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group"><input type="text" id="cell" name="cell" class="form-control"
                                                placeholder="Ingresa tu numero" aria-describedby="phone" required>
                                            <div class="input-group-prepend"><span class="input-group-text"
                                                    id="phone"><i class="fas fa-phone"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group"><input type="password" class="form-control"
                                                placeholder="Ingresa tu contraseña" aria-describedby="url" id="password" name="password" required>
                                            <div class="input-group-prepend"><span class="input-group-text" id="url"><i
                                                        class="fas fa-key"></i></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="col-md-6"><button class="loginnow" type="submit">Registrarse</button></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- SignUp Area End -->

	<%- include('part/footer') %>

    <!--Start ClickToTop-->
    <div class="totop"><a href="#top">
            <p><i class="fas fa-angle-up"></i></p>
        </a></div>
    <!--End ClickToTop-->
    <!--jQuery JS-->
    <script src="js/jquery.min.js"></script>
    <!--Bootstrap JS-->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.js"></script><!-- Way Point js -->
    <script src="js/waypoints.min.js"></script><!-- Owl carosul js -->
    <script src="js/owl.carousel.min.js"></script><!-- Venobox JS-->
    <script src="js/venobox.min.js"></script>
    <!--Main-->
    <script src="js/main.js"></script>
</body>

</html>