<!DOCTYPE html>
<html lang="zxx">

<%- include('part/head') %> 

<body class="fondo4">
    <!--Start Preloader-->
    <div class="site-preloader">
        <div class="spinner"><img src="img/loader.gif" alt=""></div>
    </div>
    <!--End Preloader-->
    <!-- Main Menu Area Start -->
    <header id="mainHeader" class="header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="container"><a class="navbar-brand" href="index.html"><img src="img/logcvpa.png" alt=""></a><button
                    class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" >Mensajes de Usuarios</a>
                            <div class="dropdown-menu" aria-labelledby="service">
                                <a class="dropdown-item" href="/reportmen">Verificar Mensajes</a>
                                
                            </div>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#">Mejorar Asistente</a>
                          <div class="dropdown-menu" aria-labelledby="service">
                            <a class="dropdown-item" href="/asisherida">Respuesta a Heridas</a>
                            <a class="dropdown-item" href="/asishemorragia">Respuesta a Hemorragias</a>
                            <a class="dropdown-item" href="/asisquemaduras">Respuesta a Quemaduras</a>
                          </div>
                        </li>
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#">Horarios del Personal</a>
                            <div class="dropdown-menu" aria-labelledby="service">
                                <a class="dropdown-item" href="/reportper">Verificar Horarios</a>
                                <a class="dropdown-item" href="/regishor">Registrar Horario</a>
                            </div>
                        </li>
                    </ul>
                    <div class="call_btn">
                        <a href="/logout">CERRAR SESIÓN</a>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!------------------------- Main Menu Area End -------------------->


  <div class="container w-50 mt-5 mb-5">
    <div class="row justify-content-center">
      <h2 class="row  txtcolor2"> PERSONAL DEL CENTRO</h2>
      <br><br><br>
      <form action="/reghoradd" id="personal" method="post">
        <div class="row col-12">
          <div class="section col">
            <label for="name" class="text-white">COD PERSONAL:</label>
            <input type="text" name="codp" size="10" placeholder="" required class="border border-dark bg-light"/>
          </div>
          <div class="section col">
            <label for="date" class="text-white">HORARIO DE TRABAJO</label>
            <input type="time" name="horadeatencion" required class="border border-dark bg-light"/>
            &nbsp;
            <input type="time" name="horadesalida" required class="border border-dark bg-light"/>
            <label for="date" class="text-white">Entrada</label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <label for="date" class="text-white">Salida</label>
          </div>
          <div class="section col">
            <label for="name" class="text-white">CARGO:</label>
            <input class="border border-dark bg-light" type="text" name="especialidad" placeholder="" required />
          </div>
        </div>
        <br><br>
        <div class="section">
          <label for="name" class="text-white">NOMBRE/S:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <input type="text" name="nombre"  placeholder="" required class=" w-50 border border-dark bg-light"/>
        </div>
        <br>
        <div class="section">
          <label for="name" class="text-white">APELLIDO PATERNO:</label>
          <input type="text" name="appaterno" placeholder="" required class="w-50 border border-dark bg-light"/>
        </div>
        <br>
        <div class="section">
          <label for="name" class="text-white">APELLIDO MATERNO:</label>
          <input type="text" name="apmaterno" placeholder="" required  class="w-50 border border-dark bg-light"/>
        </div>
        <br>
        <div class="section">
          <label for="name" class="text-white">NÚMERO DE CELULAR:</label>
          <input type="number" name="numer" placeholder="" required class="w-50 border border-dark bg-light"/>
        </div>
        <br><br>
        <div class="section">
          <div align="center"><button class="but1" type="submit" > Agregar Personal </button>
          </div>
        </div>
        <br>
      </form>
    </div>
  </div>


  <%- include('part/footer') %> 

  <!--Start ClickToTop-->
  <div class="totop"><a href="#top">
          <p><i class="fas fa-angle-up"></i></p>
      </a></div>
  <!--End ClickToTop-->
  <!--jQuery JS-->
  <script src="js/jquery.min.js"></script>
  <!--Bootstrap JS-->
  <script src="js/bootstrap.min.js"></script>
  <script src="js/popper.js"></script><!-- Way Point js -->
  <script src="js/waypoints.min.js"></script><!-- Owl carosul js -->
  <script src="js/owl.carousel.min.js"></script><!-- Venobox JS-->
  <script src="js/venobox.min.js"></script><!-- date and time picker -->
  <script src="js/jquery.datetimepicker.full.min.js"></script>
  <script src="js/dateandtimeactive.js"></script>
  <!--Main-->
  <script src="js/main.js"></script>
</body>

</html>