    <!--  Footer Section Start -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="widget1">
                        <div class="logo"><img src="img/footcvpa.png" class="img-fluid" alt=""></div>
                        <p>CENTRO DE SALUD "VILLA COOPERATIVA" EL ALTO</p>
                        <p>Nos encontramos en la Zn. Villa Cooperativa, Av. Periferica</p>
                        <div class="socialLinks">
                            <p>Puede buscarnos en nuestros sitios webs</p>
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-7">
                    <div class="widget2">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.04140587605!2d-68.22389598570861!3d-16.473440944409283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915ee0a6a4131fe3%3A0x192812a4a2c1f562!2sCentro%20de%20Salud%20Villa%20Cooperativa!5e0!3m2!1ses!2sbo!4v1634152030001!5m2!1ses!2sbo"
                        class="container" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="widget3">
                        <h5> Enlaces Directos</h5>
                        <ul>
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="">Nosotros</a></li>
                            <li><a href="">contactos</a></li>
                            <li><a href="/chat">Asistente Virtual</a></li>
                            <li><a href="#">Privacidad</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyRightArea">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <p>&copy; Copyright Todos los Derechos Reservados <a href="index.html"
                                title="bootstrapmb"> Consultorio_Virtual_de_Primeros_Auxilios</a> 2022.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer><!--  Footer Section End -->